@media only screen and (max-width: 1300px) {
  #weatherContainer {
    visibility: hidden;
  }
}

#weatherContainer {
  width: 27%;
  max-width: 300px;
  height: 24.5vw;
  max-height: 35vw;
  position: absolute;
  right: -27%;
  top: 0;
  padding-bottom: 1vw;
  box-shadow: 0 3px 10px #888888;
  background-color: #9ECBDA;
}

#top {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#top h3 {
  text-align: center;
  font-size: 1.8vw;
  font-weight: 700;
  margin-top: 0;
  color: #00506D;
  margin-bottom: 0;
}

#top p {
  margin: 0;
}

#dateCity {
  text-align: center;
  font-size: 0.8vw;
  font-weight: 600;
  color: #00506D;
}

#middle {
  padding-top: 0.6vw;
  padding-bottom: 1.1vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vw;
  width: 95%;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
}

#weatherImage {
  width: 4.5vw;
  height: 4.5vw;
  float: left;
  margin-left: 5%;
  margin-bottom: 20px;
  filter: drop-shadow(2px 3px 2px gray);
}

#middle h2 {
  margin: 0;
}

#temperature {
  text-align: center;
  vertical-align: baseline;
  margin-top: 7px;
  margin-bottom: 0;
  font-size: 2.5vw;
  font-weight: 700;
  color: #333333;
}

#description {
  text-align: center;
  margin: 0;
  font-size: 1.1vw;
  font-weight: 600;
  color: #333333;
}

.weatherInfo {
  clear: both;
  margin: 0;
  padding: 0;
  margin-left: 7%;
  font-size: 0.9vw;
}

.weatherInfo span {
  font-weight: 600;
}

.charts {
  width: 7.8vw;
  margin-top: 1vw;
  float: left;
  position: relative;
}

.charts p {
  text-align: center;
  margin-top: 0.3vw;
  font-weight: 600;
  font-size: 0.9vw;
}

.charts h6 {
  position: absolute;
  top: 0.9vw;
  left: 3.25vw;
  font-size: 0.7vw;
  font-weight: 700;
}

#timeContainer {
  float: left;
  width: 100%;
  margin-top: 0.2vw;
}

#timeContainer img {
  float: right;
  width: 0.9vw;
}

#syncTime {
  float: right;
  font-size: 0.63vw;
  font-weight: 600;
  margin-right: 1vw;
}
