@media only screen and (max-width: 1300px) {
  #weatherContainer {
    visibility: hidden;
  }
}

#weatherContainer {
  width: 27%;
  max-width: 300px;
  height: 320px;
  position: absolute;
  right: -27%;
  top: 0;
  box-shadow: 0 3px 10px #888888;
  background-color: #9ECBDA;
}

#top {
  padding-top: 20px;
  padding-bottom: 20px;
}

#top h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  color: #00506D;
  margin-bottom: 0;
}

#top p {
  margin: 0;
}

#dateCity {
  text-align: center;
  font-weight: 600;
  color: #00506D;
}

#middle {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  width: 95%;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
}

#weatherImage {
  width: 4.5vw;
  height: 4.5vw;
  float: left;
  margin-left: 5%;
  margin-bottom: 20px;
  filter: drop-shadow(2px 3px 2px gray);
}

#middle h2 {
  margin-top: 0;
}

#temperature {
  text-align: center;
  margin-bottom: 0;
  font-size: 2.5vw;
  font-weight: 700;
  color: #333333;
}

#description {
  text-align: center;
  margin: 0;
  font-size: 1.1vw;
  font-weight: 600;
  color: #333333;
}

.weatherInfo {
  clear: both;
  margin: 0;
  padding: 0;
  margin-left: 7%;
  font-size: 1vw;
}

.weatherInfo span {
  font-weight: 600;
}
