.header {
  height: 70px;
  background-color: #008AA8;
  box-shadow: 0 3px 10px #707070;
  margin: 0;
}
.logo{
  height: 80%;
  position: relative;
  display: inline;
  /*top: 10%;*/
  margin-top: 6px;
  float: left;
}
