#header {
  min-height: 70px;
  background-color: #008AA8;
  box-shadow: 0 3px 10px #707070;
  margin: 0;
  position: sticky;
}
.logo{
  height: 52px;
  position: relative;
  display: inline;
  margin-top: 8px;
  float: left;
}
