#userDataContent {
  width: 96%;
  height: 34vw;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid lightgray;
  /*background-color: #1c94c4;*/
}

label {
  text-align: right;
  font-size: 0.9vw;
}

.leftContent {
  float: left;
  width: 14vw;
  height: 32vw;
  margin-left: 2%;
  border-right: 1px solid gray;
  /*background-color: #6FB1C8;*/
}

#userImage {
  width: 8vw;
  height: 8vw;
  margin-left: 2.8vw;
  margin-top: 10vw;
}

#editPencil {
  width: 1.1vw;
  height: 1.1vw;
  margin-top: 16.8vw;
}

#username {
  font-weight: 600;
  font-size: 1.2vw;
  text-align: center;
}

h5 {
  display: inline-block;
  font-size: 1vw;
  font-weight: 700;
  margin-left: 1.5vw;
  margin-bottom: 0.8vw;
}

.form-control {
  font-size: 0.9vw;
}

.dl .col-sm-2.col-form-label {
  padding-top: 0;
}

.form-group.row {
  height: 2.5vw;
}

