@media only screen and (max-width: 1200px) {
  #logInBtn {
    visibility: hidden;
  }
}

.profileBtn {
  position: relative;
  display: inline;
}

.profileBtn:hover {
  display: block;
}

#profileBtn {
  padding: 11px;
  float: right;
  margin-right: 10px;
}

#profileBtn:hover, #profileBtn:focus {
  background-color: #53A2BE;
  padding: 11px;
  margin-right: 10px;
}
