.article{
  width: 30%;
  height: 30%;
  float: left;
  margin-left: 2.5%;
  background-color: #e4e4e4;
  border:solid;
  border-width: thin;
  border-color: black;
  box-shadow: 0 3px 10px white;
  border-radius: 20px;
}
.headline{
  margin-top: 5%;
  font-size: 25px;
  text-align: center;
  color: black;
  font-weight: bold;
}
.imagee{
  max-width: 95%;
  margin-top: 3%;
  margin-left: 2.5%;
  border-radius: 20px;
  border:solid;
  border-width: thin;
  border-color: black;
}
.content{
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: normal;
}
