* {box-sizing: border-box;}

body {font-family: Verdana, sans-serif;}

.imageContainer {
  position: absolute;
  top: 0;
  left: 1%;
}

.imageContainer img {
  width: 25.7vw;
  height: 17vw;
  max-height: 85%;
  display: block;
  margin-top: 6%;
  margin-bottom: auto;
  border: 3px solid white;
  /*border-radius: 10px;*/
  object-fit: cover;
  vertical-align: center;
}

.title {
  position: absolute;
  font-weight: 700;
  height: 50%;
  max-height: 50%;
  top: 1.2vw;
  left: 42%;
  width: 57%;
  color: white;
  text-align: center;
  background-color: #008AA8;
}

.title div {
  position: absolute;
  bottom: 0;
  display: table-cell;
  vertical-align: bottom;
  font-size: 1.7vw;
  /*background-color: #6FB1C8;*/
}

.text {
  position: absolute;
  font-size: 1vw;
  height: 36%;
  max-height: 36%;
  color: white;
  text-align: center;
  top: 12vw;
  left: 42%;
  width: 57%;
  /*background-color: #9ECBDA;*/
}


