* {box-sizing: border-box;}

body {font-family: Verdana, sans-serif;}

.imageContainer {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  left: 1%;
}

.imageContainer img {
  width: 100%;
  max-height: 85%;
  display: block;
  margin-top: 6%;
  margin-bottom: auto;
  border: 5px solid white;
  border-radius: 10px;
  vertical-align: center;
}

.title {
  position: absolute;
  font-size: 1.7vw;
  font-weight: 700;
  height: 43%;
  max-height: 43%;
  top: 1.2vw;
  left: 42%;
  width: 56%;
  color: white;
  text-align: center;
}

.title div {
  position: absolute;
  bottom: 0;
  display: table-cell;
  vertical-align: bottom;
}

.text {
  position: absolute;
  font-size: 1vw;
  height: 42%;
  max-height: 42%;
  color: white;
  text-align: center;
  top: 10.8vw;
  left: 42%;
  width: 56%;
}


