<div id="loginDiv"></div>
<div id="loginContent">
  <div id="napis">
    Log in to your account
    <div class="hr"></div>
  </div>
  <div id="fireAuthCont">
    <div id="firebaseui-auth-container"></div>
    <p>or</p>
    <form id="signupForm">
      <h5>Sign up with email and password</h5>
      <div class="form-group row">
        <label for="signupEmail" class="col-sm-1 col-form-label"><img src="assets/envelope.png" alt=""></label>
        <div class="col-sm-6">
          <input type="email" class="form-control" id="signupEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="signupPasswd" class="col-sm-1 col-form-label"><img src="assets/padlock.png" alt=""></label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="signupPasswd" placeholder="Password">
        </div>
      </div>
    </form>
    <button type="submit" class="btn btn-light" form="signupForm" id="signupSubmit">SIGN UP</button>
  </div>
  <h4 id="logOutCommunicate" class="hidden">
    You are already logged in as <strong><span id="logUsername"></span></strong>.<br>Please, log out at the bottom of
    <a id="goToProfile" routerLink="../profile">this site</a> first, to log in to other account.
  </h4>
</div>
