<div id="aboutContent">
  <div id="projectInfo">
    <h1>News HUB</h1>
    <p>
      The application contains news from a large number of news websites. These messages are obtained using <strong>News API</strong>.
      On the main page there is an overview of the most popular and the latest news.The application allows you to choose the offered by
      News API news category, search information and create an account that will enable personalization of displayed content.
    </p>
    <p>
      Account data is stored by using a NoSQL database - <strong>Firebase</strong>. Logging in to the application is possible thanks to the traditional method
      (email, password) and through the account on the social networking site <strong>Facebook</strong>, or <strong>Google</strong> account.
    </p>
    <p>
      The news on the registered user's home page is customized to his preferences. User
      will decide which categories will be displayed on the home screen. On the side screen are available
      information about the weather in the city, which the user chose on the profile page.
      This functionality will be possible thanks to the use
      <strong>Open Weather Map API</strong>.
    </p>
    <p>
      The management of project work on the application has been happening on the platform <strong>Trello</strong>
      (<a href="https://trello.com/b/v8KxHUU7" target="_blank">link</a>),furthermore the <strong>Git</strong> version control system
      was used to work with the files and  also platform <strong>Github</strong>.
    </p>
    <p>
      The application was implemented on the basis of the prototype, which can be viewed by clicking
      <a href="https://e7fm8t.axshare.com" target="_blank">on this link</a>, made in the program <strong>Axure RP</strong>.
      The password for previewing the prototype is a phrase <em>druzynapierscienia</em>.
    </p>
    <img src="assets/news-api_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/firebase_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/OWM_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/trello_logo.jpg" class="toolsImages" alt="NewsAPI">
    <img src="assets/git_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/github_logo.png" class="toolsImages" alt="NewsAPI">
  </div>
  <div id="squadInfo">
    <h1>Project team</h1>
    <div class="person">
      <img src="assets/zuza.jpg" class="squadPhotos" alt="Zuza">
      <h4>Zuzanna Błażejowska</h4>
    </div>
    <div class="person">
      <img src="assets/aga.jpg" class="squadPhotos" alt="Aga">
      <h4>Agnieszka Burda</h4>
    </div>
    <div class="person">
      <img src="assets/kamil.jpg" class="squadPhotos" alt="Kamil C.">
      <h4>Kamil Cała</h4>
    </div>
    <div class="person">
      <img src="assets/kazek.jpg" class="squadPhotos" alt="Kamil S.">
      <h4>Kamil Smoleń</h4>
    </div>
  </div>
</div>
