<div id="aboutContent">
  <div id="projectInfo">
    <h1>News HUB</h1>
    <p>
      Aplikacja zawiera newsy z dużej liczby polskich serwisów informacyjnych (np. WP, Onet, 300polityka, TVN24, RP,
      Gazeta Prawna i wiele innych). Wiadomości te są uzyskiwane za pomocą <strong>News API</strong>. Na głównej stronie
      znajduje się przegląd najpopularniejszych i zarazem najnowszych newsów. Aplikacja pozwala na wybór oferowanych przez
      News API kategorii wiadomości, przeszukiwanie informacji i założenie konta, które będzie umożliwiało personalizację
      wyświetlanych treści.
    </p>
    <p>
      Dane o koncie przechowywane są dzięki wykorzystaniu bazy danych typu NoSQL - <strong>Firebase</strong>. Logowanie
      do aplikacji jest możliwe dzięki tradycyjnej metodzie (email, hasło) oraz za pośrednictwem konta na portalu
      społecznościowym <strong>Facebook</strong>, oraz konta <strong>Google</strong>.
    </p>
    <p>
      Newsy znajdujące się na stronie głównej zarejestrowanego użytkownika są dostosowana do jego preferencji. Użytkownik
      sam zdecyduje, jakie kategorie zostaną wyświetlone na ekranie głównym. Na ekranie bocznym dostępne są informacje
      pogodowye w mieście, które na stronie profilu wybrał użytkownik. Ta funkcjonalność będzie możliwa dzięki wykorzystaniu
      <strong>Open Weather Map API</strong>.
    </p>
    <p>
      Zarządzanie pracami projektowymi nad aplikacją odbywało się z poziomu platformy <strong>Trello</strong>
      (<a href="https://trello.com/b/v8KxHUU7" target="_blank">link</a>), natomiast do pracy z plikami został wykorzystany
      system kontroli wersji <strong>Git</strong> oraz platforma <strong>Github</strong>.
    </p>
    <p>
      Aplikacja była realizowana na bazie prototypu, do którego prowadzi
      <a href="https://e7fm8t.axshare.com" target="_blank">ten link</a>, wykonanego w programie <strong>Axure RP</strong>.
      Hasłem do podglądu prototypu jest fraza <em>druzynapierscienia</em>.
    </p>
    <img src="assets/news-api_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/firebase_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/OWM_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/trello_logo.jpg" class="toolsImages" alt="NewsAPI">
    <img src="assets/git_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/github_logo.png" class="toolsImages" alt="NewsAPI">
  </div>
  <div id="squadInfo">
    <h1>Zespół projektowy</h1>
    <div class="person">
      <img src="assets/zuza.jpg" class="squadPhotos" alt="Zuza">
      <h4>Zuzanna Błażejowska</h4>
    </div>
    <div class="person">
      <img src="assets/aga.jpg" class="squadPhotos" alt="Aga">
      <h4>Agnieszka Burda</h4>
    </div>
    <div class="person">
      <img src="assets/kamil.jpg" class="squadPhotos" alt="Kamil C.">
      <h4>Kamil Cała</h4>
    </div>
    <div class="person">
      <img src="assets/kazek.jpg" class="squadPhotos" alt="Kamil S.">
      <h4>Kamil Smoleń</h4>
    </div>
  </div>
</div>
