<!--<div id="content">-->
  <!--<div id="newsContainer">-->
    <!--<app-slider></app-slider>-->
    <!--<app-article class="after"></app-article>-->
    <!--<app-article></app-article>-->
    <!--<app-article class="after"></app-article>-->
    <!--<app-article></app-article>-->
    <!--<app-article class="after"></app-article>-->
    <!--<app-article></app-article>-->
    <!--<app-article class="after"></app-article>-->
    <!--<app-article></app-article>-->
  <!--</div>-->
  <!--<app-weather></app-weather>-->
<!--</div>-->
